.location-select-page {
  height: 100%;
  background: url('../../../assets/images/background/location_2.jpg') no-repeat;
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: white;
  text-shadow: 0px 0px 30px black;
}

h2 {
  font-size: 50px;
  margin-top: 90px;
  text-align: center;
  text-transform: uppercase;
}

h3 {
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 20px;
}

.locations-container {
  height: 100%;
  max-width: 1000px;
  margin: 150px auto;
  display: flex;
  justify-content: space-between;
}

.location-item {
  margin: 0 40px;
}

.locations-container figcaption {
  text-align: center;
  margin: 30px auto;
  font-size: 25px;
  text-transform: uppercase;
}

.location img {
  width: 320px;
  height: 320px;
  border-radius: 10px;
  transition: 0.5s;
  cursor: pointer;
  text-shadow: 0px 0px 30px black;
}

.location-item:hover {
  transition: 0.5s;
  cursor: pointer;
  transform: scale(1.1);
  box-shadow: 0px 0px 30px cyan;
}

.player-config-page {
  background: url('../../../assets/images/background/location_2.jpg') no-repeat;
  background-size: 100% 100%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  text-shadow: 0px 0px 30px black;
}

.player-config-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 1000px;
  height: 100%;
  margin: 50px auto;
}

.demonstration {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.player-name-input {
  font-family: Arial, Helvetica, sans-serif;
  margin: 10px auto;
  max-width: 400px;
  width: 340px;
  padding: 10px;
  border: 1px solid #000;
  border-radius: 5px;
  text-align: center;
  text-transform: uppercase;
}

.empty-input {
  background-color: rgb(246, 185, 115);
}

.empty-input:valid {
  background-color: white;
}

.player-figure-container {
  width: 350px;
  height: 350px;
  margin: 20px auto;
}

.player-figure-demo {
  position: relative;
  width: 300px;
  height: 100%;
}

.button {
  padding: 10px 20px;
  letter-spacing: 0.2rem;
  border: 1px solid #d3d3d3;
  border-radius: 5px;
  background-color:  #ffffff ;
  cursor: pointer;
  transition: 0.2s;
  user-select: none;
  text-transform: uppercase;
}

.button:hover {
  background-color: #59db1d;
  border: 1px solid #59db1d;
  box-shadow: 0px 0px 30px cyan;
  color: white;
}

.submit-button {
  margin: 10px auto;
}

.config-item-image {
  width: 150px;
  height: 150px;
  margin: 10px;
  background-size: 85% auto; 
  background-repeat: no-repeat;
  background-position: center center;
  border: 1px solid rgb(98, 141, 155);
  border-radius: 50%;
  background-color: rgb(98, 141, 155);
  cursor: pointer;
  transition: 0.3s;
}

.config-item-image:hover {
  transition: 0.3s;
  box-shadow: 0px 0px 30px cyan;
  transform: scale(1.1);
}

.options {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.config-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 340px;
}