@font-face {
  font-family: 'ParryH';
  src: url('../../../assets/fonts/ParryH.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HP';
  src: url('../../../assets/fonts/HP.otf');
  font-weight: normal;
  font-style: normal;
}